body
{
	margin:0px;
	color:black;
	background-color:#C8CED8;
}
#showcase
{
	background-image: url('../images/danny6.jpg');
	width:100%;
	height:50vw;
	overflow:hidden;
	margin-bottom:1vw;
  	background-attachment: fixed;
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
 }

#topBlock p
{
	color:white;
	font-size:2.8vw;
	position: absolute;
	left:6.8vw;
	margin-top:-1.9vw;
}

#topBlock
{
	position:fixed;
	width:100%;
	border:3px solid #FFF;
	border-top:0;
	border-left:0;
	border-right:0;
}

#toplink, #aboutButton{

	float:right;
	color:#fff;
	text-decoration: none;
	font-size:1.3vw;
	margin-right:1vw;
	margin-top:-15px;
	padding-top:5px;
	padding-left:1vw;
	padding-right:1vw;
	padding-bottom:12px;
	font-family: MuseoSans-500,Helvetica,sans-serif;
}
#toplink:hover, #aboutButton:hover{
	color:yellow;
}

#topBlock ul{
	background-color:rgba(0,0,0,0.3);
	margin:0px;
	padding-top:2.2vw;
	padding-right:1vw;
	padding-bottom:2vw;
}
#logo
{
	float:left;
	width:12vw;
	height:3.5vw;
	margin-left:3vw;
	margin-top:-1.7vw;
}
#topBlock li{
	display:inline;
}
					

.dropdown {
	float:right;
  position: relative;
  display: inline-block
  background:red;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	margin-top:2vw;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

  .dropdown-content a {
  color: black;
  padding: 1vw 1vw;
  text-decoration: none;
  text-align:center;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
#bigQuote
{
	color:#3d4c61;
	font-family: 'Permanent Marker', cursive;
	font-size: 3vw;
	text-align: center;
	margin-top: 9vw;
}
#projectCover
{
	background-image: url('../images/team.jpg');
	width:100%;
	height:45vw;
	overflow:hidden;
	margin-bottom:1vw;
  	background-attachment: fixed;
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
 }
#intro
{
	color:white;
	font-family: 'Permanent Marker', cursive;
	font-size: 3vw;
	text-align: center;
	width:56%;
	margin-top:30vw;
	background-color:#3d4c61;
	padding-top:1%;
	padding-bottom:1%;
	border-top-right-radius:4vw;
	border-bottom-right-radius:4vw;
	border:2px solid #FFF;
	border-left:none;
}
#redC
{
	color:red;
	font-family: 'Permanent Marker', cursive;
	font-size: 3vw;
	text-align: center;
	margin-top: 9vw;
}
#sub-quote
{
	font-family: MuseoSans-500,Helvetica,sans-serif;
	font-size: 2vw;
	margin-top:3vw;
	margin-bottom:3vw;
}
#emailButton {
	float:right;
	clear:both;
	background-color: #4CAF50; /* Green */
	border:2px solid #FFF;
	border-radius:0.7vw;
	padding: 1vw 2vw;
	text-align: center;
	color:white;
	text-decoration: none;
	display: inline-block;
	font-size: 1.3vw;
	width:11vw;
	position:absolute;
	left:75%;
	margin-top:17%;
}

#emailButton:hover {
	background-color:green;
}
.arrow
{
  position: relative;
  bottom: 9rem;
  left: 50%;
  margin-left:-20px;
  width: 50px;
  height: 50px;

  /**
   * Dark Arrow Down
   */
  background-image: url('../images/arrow.png');
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/*ABOUT SECTION*/



#aboutContent
{
  	height:110vw;
  	margin:auto;
	background-color: #F0F0F2;
	color:#3d4c61
	font-size:1.3vw;
	font-family: MuseoSans-500,Helvetica,sans-serif;
}
#school
{
	color:blue;
}

#aboutContent h1
{
	width:100%;
	margin:auto;
	padding-top:2vw;
	font-family: 'Permanent Marker', cursive;
	text-align:center;
	font-size:3vw;
	color:#3d4c61
}
#profileImage
{
	float:left;
	width:16vw;
	height:auto;
	margin-top:2vw;
	margin-left:14vw;
	border-radius:4px;
    border: solid 2px #CCC;
    -moz-box-shadow: 10px 10px 0px #525252;
    -webkit-box-shadow: 10px 10px 0px #525252;
    box-shadow: 10px 10px 10px #525252;  
}
#skillBlock
{
	padding-top:10px;
	height:26vw;
	float:left;
	width:33.33%;
	text-align:center;
}
#skillBlock p
{
	margin-right:3rem;
	margin-left:3rem;
}
#skillImages
{
	border-top:solid 5px #525252;
	border-bottom:solid 5px #525252;
	margin-top:5vw;
	background-color: #FFFC7F;
	width:100%;
	height:27vw;
	float:left;
	clear:both;
}

#tech
{
	margin-top:2vw;
	height:10vw;
	margin:auto;
}
#content
{
	float:left;
	margin-top:4%;
	margin-left:5%;
	width:50%;
}

/*SKILLS BAR ANIMATED!*/
body{
  margin:0;
  padding:0;
  height:1200px;
}
#skills
{
	margin-left:5vw;
	margin-top:5vw;
	float:left;
	width:90%;
	height:auto;
	border: 1px solid #ccc;
  	box-shadow: 1px 1px 10px grey inset,
              -1px -1px 2px #fff inset;
  	border-radius: 3px/6px;  
  	padding-bottom:30px;

}

#skillsLeft, #skillsRight
{
	float:left;
	width:37vw;
	margin-top:5vw;
	margin-left:5vw;
}

#skillsLeft
{
	float left;
}

.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    border: 1px solid #ccc;
}

.skillbar span {
    display:block;
    font-family: MuseoSans-500,Helvetica,sans-serif;
    color:#fff;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	float: left;
}

.containers {
    min-height: 100%;
    height: 100vh;
}

#goodbye
{
	background-image: url('../images/handshake.jpg');
	width:100%;
	height:35vw;
	overflow:hidden;
	margin-top:5vw;
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
#goodbye h1
{
	color:white;
	font-family: 'Permanent Marker', cursive;
	font-size: 3vw;
	text-align: center;
	margin-top: 14vw;
}
#byeButton {
	background-color: #4CAF50; /* Green */
	border:2px solid #FFF;
	border-radius:0.7vw;
	padding: 1vw 2vw;
	text-align: center;
	color:white;
	text-decoration: none;
	display: inline-block;
	font-size: 1.3vw;
	width:11vw;
	margin-left:44%;
	margin-top:4%;
}
#aboutContent ul
{
	margin-top:-10px;
	width:13%;
	float:left;
}

#main-footer{
	clear:both;
	background: #333;
	color: #fff;
	text-align: center;
	padding: 2vw;
	margin-top:5%;
}

#softwareProjects
{
	background-image: url('../images/softwareBack.jpg');
	height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom:2%;
}
#projects
{
	margin-bottom:100px;
}
#projects h3
{
	font-size:5vw;
	padding-top:10px;
	text-align:center;
	color:white;
}
.project
{
	background-color: #fffcf4;
	width:65vw;
	height:20vw;
	color:black;
	margin:auto;
	margin-top:1vw;
	padding-left:1vw;
	padding-right:1vw;
	padding-top:1vw;
	padding-bottom:1vw;
	
  	border: 1px solid #ccc;
  	box-shadow: 1px 1px 10px grey inset,
              -1px -1px 2px #fff inset;
  	border-radius: 3px/6px;     

}
.project img
{
	float:left;
	width:22vw;
	max-height:100%;
	margin-left:10vw;
	margin-top:4vw;
	border:2px solid #595752;
}

#uniqueImage
{
	float:left;
	
	width:12vw;
	max-height:100%;
	margin-left:10vw;
	border:2px solid #595752;
}
/*Only for the video option for*/
#pageImage
{
	width:100%;
	height:50vw;
	overflow:hidden;
	margin-bottom:1vw;
}
.project video
{
	float:left;
	height:auto;
	width:53%;
	max-height:95%;
	margin-left:5vw;
	margin-top:4vh;
	border:2px solid #595752;
}
#text
{
	float:left;
	width:31vw;
	font-size:1.2vw;
}
#hardwareProjects
{
	background-image: url('../images/hardwareBack.jpg');
	height: 100%;
  	background-attachment: fixed;
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	padding-bottom: 2vw;
}